.header, .header-social
	display: flex
	
.header 
	padding: 15px 0
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center

	&__logo
		height: 50px
		user-select: none 
		cursor: pointer
		
	&-social 
		& > button
			cursor: pointer
			
			&:not(:last-child) 
				margin-right: 30px

			& svg, & svg *
				transition: fill .3s

			&:hover svg, &:hover svg *
				fill: $primaryColor

		& button.header-social__lang 
			position: relative
			margin-left: 30px
			transition: color .3s

			&:hover
				color: $primaryColor

			&:after
				content: ''
				position: absolute
				
				top: 50%
				left: -30px
				transform: translateY(-50%)

				width: 2px
				height: 100%
				
				background: linear-gradient(180deg, $primaryColor 0%, rgba(191, 145, 101, 0) 100%)

.go 
	position: fixed
	top: 0 
	right: 0 
	bottom: 0 
	left: 0
	z-index: -1
	overflow: hidden
	
	&__video
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

@media (min-aspect-ratio: 16/9) 
	.go__video
		height: 200%
		top: -50%
  
@media (max-aspect-ratio: 16/9) 
	.go__video 
		width: 200% 
		left: -50%
	
@supports (object-fit: cover) 
	.go > video 
		top: 0 
		left: 0
		width: 100% 
		height: 100%
		object-fit: cover
  

  
